<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @photo.group_id %>
</p>

<p>
  <b>Date uploaded:</b>
  <%= @photo.date_uploaded %>
</p>

<p>
  <b>Image:</b>
  <a href="<%= @photo.image.url %>"><%= image_tag @photo.image.url(:thumb) %><a/>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
